@import "tailwindcss";

:root {
  font-family: 'Inter', sans-serif;
  
}

#root{
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.custom-scrollbar::-webkit-scrollbar{
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb{
  background-color: #4b5563;
  border-radius: 9999px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* thumb on hover (gray-500) */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f2937; /* track (gray-800) */
}


